@use 'pcui-theme-grey.scss' as theme;

$text-primary: theme.$text-primary;
$text-secondary: theme.$text-secondary;
$text-dark: theme.$text-dark;
$text-darkest: theme.$text-darkest;

$error: theme.$error;

$clr-default: #C7C2B8;
$clr-disabled: #6E6B66;
$clr-active: white;
$clr-hilight: #D7A85A;
$clr-icon-hilight: #E6C27A;

$bcg-lighter: #403B35;
$bcg-light: #2F2A25;
$bcg-primary: theme.$bcg-primary;
$bcg-dark: theme.$bcg-dark;
$bcg-darker: theme.$bcg-darker;
$bcg-darkest: #100E15;

// darken amount when showing modal dialogs
$bcg-darken: rgba(0, 0, 0, 0.25);
