@use 'pcui-theme-grey.scss' as theme;

$text-primary: theme.$text-primary;
$text-secondary: theme.$text-secondary;
$text-dark: theme.$text-dark;
$text-darkest: theme.$text-darkest;

$error: theme.$error;

$clr-default: #B8C2D6;
$clr-disabled: #667085;
$clr-active: white;
$clr-hilight: #1D48CE;
$clr-icon-hilight: #5076E5;

$bcg-lighter: #34405C;
$bcg-light: #29344A;
$bcg-primary: theme.$bcg-primary;
$bcg-dark: theme.$bcg-dark;
$bcg-darker: theme.$bcg-darker;
$bcg-darkest: #100E15;

// darken amount when showing modal dialogs
$bcg-darken: rgba(0, 0, 0, 0.25);
