@use 'colors.scss' as *;

#mode-toggle {
    position: absolute;
    left: calc(var(--desktop-left-dock-width) + (100% - var(--desktop-left-dock-width) - var(--desktop-right-dock-width)) / 2);
    right: auto;
    top: calc(var(--desktop-titlebar-height) + 10px);
    width: 120px;
    transform: translateX(-50%);

    min-height: 30px;
    padding: 0px 8px;
    border-radius: 4px;
    border: 1px solid $bcg-light;

    background-color: $bcg-dark;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    z-index: 4;

    &.centers-mode {
        #rings-icon, #rings-text {
            display: none;
        }
    }

    &.rings-mode {
        #centers-icon, #centers-text {
            display: none;
        }
    }

    #centers-icon {
        color: $clr-hilight;
    }

    #rings-icon {
        color: $clr-hilight;
    }

    &:hover {
        color: $text-primary;
    }
}
