@use 'colors.scss' as *;

#popup {
    width: 100%;
    height: 100%;

    background-color: $bcg-darken;
    pointer-events: all;

    #popup-dialog {
        position: absolute;
        left: 50%;
        top: 50%;
        min-width: 320px;
        max-width: 480px;
        transform: translate(-50%, -50%);

        display: flex;
        flex-direction: column;
        overflow: hidden;

        border: 1px solid $bcg-light;
        border-radius: 0;
        background-color: rgba($bcg-primary, 0.96);

        filter: drop-shadow(0 24px 56px rgba(0, 0, 0, 0.48));

        // the following is needed to get drop-shadow working on safari
        will-change: transform;

        #popup-header {
            height: 32px;
            line-height: 32px;
            margin: 0px;
            padding: 0px 14px;

            font-weight: bold;
            color: $text-primary;
            background-color: rgba($bcg-darker, 0.86);
            text-transform: none;
        }

        #popup-text {
            text-wrap: wrap;
            text-align: center;
            padding: 20px 10px;

            color: $text-primary;

            &::before {
                font-family: 'pc-icon';
                font-size: 16px;
                margin: 0px 10px;
                color: $text-primary;
            }

            &.error::before {
                content: '\E218';
                color: $error;
            }
    
            &.info::before {
                content: '\E400';
            }

            &.yesno::before {
                content: '\E138';
            }

            &.okcancel::before {
                content: '\E138';
            }

            &.savecancel::before {
                content: '\E138';
            }
        }

        #popup-link-row {
            margin: 20px 10px;

            &:not(.pcui-hidden) {
                display: flex;
            }

            #popup-link-text {
                width: 360px;
                height: 32px;
                line-height: 32px;

                border-radius: 999px;
                background-color: rgba($bcg-dark, 0.92);
                text-align: center;

                a {
                    color: $clr-hilight;
                    font-weight: bold;
                    font-size: 14px;
                    text-decoration-line: none;
                };
            }

            #popup-link-copy {
                width: 32px;
                height: 32px;
                line-height: 24px;
                font-family: 'pc-icon';
            }
        }

        #popup-buttons {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 6px;

            &.savecancel {
                .popup-button:nth-child(1) {
                    order: 3;
                }

                .popup-button:nth-child(4) {
                    order: 2;
                }

                .popup-button:nth-child(2) {
                    order: 1;
                }
            }

            .popup-button {
                height: 40px;
                width: 120px;
                border-radius: 999px;
                background-color: rgba($bcg-dark, 0.92);

                &:hover {
                    color: $clr-icon-hilight;
                    background-color: rgba($clr-hilight, 0.16);
                    box-shadow: inset 0 0 0 1px rgba($clr-hilight, 0.24);
                }
            }
        }
    }
}
