@use 'colors.scss' as *;

.select-toolbar {
    position: absolute;
    left: calc(var(--desktop-left-dock-width) + ((100% - var(--desktop-left-dock-width) - var(--desktop-right-dock-width)) / 2));
    bottom: 24px;
    height: 48px;
    transform: translate(-50%, 0);
    padding: 0 10px;
    border-radius: 999px;
    border: 1px solid rgba($bcg-lighter, 0.22);

    background-color: rgba($bcg-primary, 0.86);
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(16px);
    z-index: 4;

    &:not(.pcui-hidden) {
        display: flex;
    }
    flex-direction: row;
    align-items: center;
    gap: 6px;

    .select-toolbar-button {
        height: 34px;
        padding: 0px 16px;
        border-radius: 999px;
    }

    .select-toolbar-reset-button {
        height: 34px;
        min-width: 72px;
        margin-left: 10px;
        padding: 0 14px;
    }
}
